
.contactofooter {
    text-align: center;
    text-decoration: none;
    color: indigo;
    margin-top: 50px; /* colocamos un margen superior para separar el pie de página del resto del contenido */
}  